*, html {
    margin: 0;  
}

header {
    background-color: #477161;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    padding: 15px;
}

.pageheader h1 {
    color: #143642;
    font-size: 80px;
}

.pageheader h2 {
    color: #CE8012;
    font-size: 60px;
}

img {
    border-radius: 50%;
    border: solid 1px;
}

nav {
    font-size: 40px;
}

nav a {
    color: #DAD3D2;
}

nav a:hover {
    color: #E97A0C;
}

body {
    background-color: #DAD3D2;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

main {
    padding: 15px;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}

footer {
    background-color: #BD632F;
    text-align: center;
}

.footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

hr {
    width: 60%;
    border-color: #477161;
    margin: auto;
}

.aboutme {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about {
    margin: 15px;
    border: solid 1px;
    border-radius: 15px;
    background: #A5C882;
    padding: 15px;
    font-size: 19px;
}

ol, li {
    margin: 30px;
    text-align: center;
}

figcaption {
    margin-bottom: 25px;
}

.contactform {
    border-radius: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.projecttable img{
    border: none;
}

.projecttable tr, th, td {
    padding: 10px;
}

@media screen and (min-device-width: 768px) {
    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    body, ol, li {
        text-align: left;
    }

    h3 {
        text-align: center;
    }

    .aboutme {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;
    }

    .hobbiesgrid {
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
    }
    
    .hobby {
        text-align: center;
        
    }
    
    .title {
        grid-column: 1 / 4;
        grid-row: 1;
        text-align: center;
    }
    
    figcaption {
        margin-top: 10px;
        text-align: center;
    }

    #selfie {
        float: right;
    }
}